<div class="container">
<div class="row">
<div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-sm-6 col-lg-5">
<h1> Chunky Highlights</h1>
<img class="img-responsive" src="/assets/img/chunky.jpg" alt="highlights">
<h1>Dimensional Highlights</h1>
<img class="img-responsive" src="/assets/img/dynamic.jpg" alt="other highlights">
<h1>Feather Extensions</h1>
<img class="img-responsive" src="/assets/img/feathers.jpg" alt="feather extensions">
</div>
<div class="col-sm-offset-1 col-sm-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
<p class="news">New at the salon; Chunky highlights/Dimensional highlights and Feather extensions! Make a striking new look your fashion statement. Come see us at Headhunters - your style headquarters.</p>
</div>
</div>
</div>
