<div class="container">
  <div class="row">
    <h2 class="col-xs-12">The products we use and sell in the salon:</h2>
    <div class="img col-xs-8 col-xs-offset-2">
      <img class="img-responsive center-block" src="/assets/img/kenra.jpg" alt="Kenra">
      <img src="/assets/img/redken.jpg" class="img-responsive center-block" alt="Redken">
      <img class="img-responsive center-block" src="/assets/img/pureology.jpg" alt="Pureology">
      <img class="img-responsive center-block" src="/assets/img/pm.jpg" alt="Paul Mitchel">
      <img class="img-responsive center-block" src="/assets/img/supre.jpg" alt="Supre">
      <img class="img-responsive center-block" src="/assets/img/synergy.jpg" alt="Synergy">

      <p>If there is a special product you are looking for, don't hesitate to ask, we will do our best to find what you seek.</p>
    </div>
  </div>
</div>
