     <div class="container">
     <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-offset-0 col-md-8 col-sm-8 col-xs-9">
        
<h3>Nails</h3>
       <div class="underline"></div>
         <table width="50%" border="0" cellpadding="5px">
  <tbody>
   <tr>
      <td>Full set</td>
      <td> $35</td>
    </tr>
    <tr>
      <td>Back fill</td>
      <td>$30-45</td>
    </tr>
    <tr>
      <td>Fill</td>
      <td>$25-30</td>
    </tr>
    <tr>
      <td>Soak off</td>
      <td>$15</td>
    </tr>
    <tr>
      <td>Pedicure</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>Manicure</td>
      <td>$22</td>
    </tr>
    <tr>
      <td>Men's mani</td>
      <td>$15</td>
    </tr>
    <tr>
      <td>Toecaps</td>
      <td>$25</td>
    </tr>
    <tr>
      <td>Polish change</td>
      <td>$8</td>
    </tr>
   </tbody>
</table>

     <h3>Waxing</h3>
       <div class="underline"></div>
         <table width="50%" border="0" cellpadding="5px">
  <tbody>
   <tr>
      <td>Lip</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>Eyebrow</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>Chin</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>Electrolysis</td>
      <td>Prices vary</td>
    </tr>
   </tbody>
</table>

<h3>Tanning</h3>
       <div class="underline"></div>
         <table width="50%" border="0" cellpadding="5px">
  <tbody>
  <tr>
      <td>Unlimited month</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>10 tans</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>5 tans</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>1 tan</td>
      <td>$5</td>
    </tr>
   </tbody>
</table>
<h3>Massage</h3>
       <div class="underline"></div>
       <p> Massage by appointment only </p>
       </div>
       <div class="img col-xs-3 col-md-3">
<img class="img-responsive right-block" src="/assets/img/manipedi.jpg" alt="hands & feet">
  <img class="img-responsive" src="/assets/img/massage.jpg" alt="massage table">
</div>
  </div>
  </div>
