     <div class="container">
       <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-offset-0 col-sm-9 col-md-8 col-xs-9">
          <p>We have a variety of services that we provide here at Head Hunter's Salon including hair, nails, tanning, complete body waxing and massage.</p>
         <h3>Haircuts</h3>
         <div class="underline"></div>
         <table width="50%" border="0" cellpadding="5px">
  <tbody>
    <tr>
      <td>womens cut</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Mens cut</td>
      <td>$20-25</td>
    </tr>
    <tr>
      <td>Children (under 12)</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>wash/ blow-dry</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>Up-do</td>
      <td>start at $35</td>
    </tr>
  </tbody>
</table>
<h3>Color</h3>
<div class="underline"></div>
<table width="50%" border="0" cellpadding="5px">
  <tbody>
   <tr>
      <td>Permanent</td>
      <td>start at $60</td>
    </tr>
    <tr>
      <td>Semi-permanent</td>
      <td>start at $60</td>
    </tr>
    <tr>
      <td>Mens color</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Toner</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Cap highlights - women</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Cap highlights - men</td>
      <td>start at $45</td>
    </tr>
    <tr>
      <td>Corrective color</td>
      <td>start at $85</td>
    </tr>
  </tbody>
</table>
<h3>Foiling</h3>
<div class="underline"></div>
<table width="50%" border="0" cellpadding="5px">
  <tbody>
  <tr>
      <td>One color</td>
      <td>$85</td>
    </tr>
    <tr>
      <td>Two colors</td>
      <td>$95</td>
    </tr>
    <tr>
      <td>Three colors</td>
      <td>$105</td>
    </tr>
    <tr>
      <td>Partial foil</td>
      <td>$75-95</td>
      </tr>
  </tbody>
</table>
<h3>Permanents</h3>
<div class="underline"></div>
<table width="50%" border="0" cellpadding="5px">
  <tbody>
  <tr>
      <td>Perms</td>
      <td>$75-95</td>
    </tr>
 </tbody>
</table>
</div>
<div class="img col-sm-offset-0 col-md-2 col-xs-3">
  <img class="img-responsive" src="/assets/img/updo.jpg" alt="updo">
  <img class="img-responsive" src="/assets/img/menstyle.jpg" alt="mens haircut">
  <img class="img-responsive" src="/assets/img/bobcut.jpg" alt="wedding style">
  </div>

       </div>
     </div>