<div class="container">
 <div class="row">
   <h1 class="col-xs-12"> The story of Headhunters...</h1>
 </div>
 <div class="row">
 <div class="col-xs-12 col-sm-7">
   <img class="img-responsive" src="/assets/img/storefront.jpg" alt="storefront">
   </div>
   <div class="col-xs-12 col-sm-5"> 
   <p class="mainP" >We started Headhunters in 1978 with one single target... You! What ever your style or your needs are we will get you there. </p>
   <p class="mainP text-center">"Hairstyle for your lifestyle!"
</p>
<h4> Opening hours:</h4>
<p>Mon - Fri: 8:30am-6:00pm+<br />
Sat: 9:00am-2:00pm </p>
</div>
  </div>
</div>
