<div class="container">
  <div class="row">
     <h1>Welcome to Headhunter hair styling!</h1>
  </div>
  <div class="row">
     <p class="mainP col-xs-12 col-sm-6 col-sm-offset-4">The leaders in salon services in the Pensacola area since 1978</p>
   </div>
  <div class="row">
   <img class="img-responsive col-xs-7 col-xs-offset-5 col-md-6 col-sm-offset-6 col-lg-5 col-lg-offset-7 borderNone" src="/assets/img/flowingHairLeft.png" alt="long haired woman"/> 
  </div>
</div>
