<div class="container">
  <div class="row linkTop">
    <div class="col-xs-12">
      <h1>Friends of Headhunters</h1>
      <h2>We love the outdoors - sailing, fishing, surfing, cycling, golf and more</h2>
      <p> We have assembled a helpful list of businesses and websites in the pensacola area.</p>
    </div>
  </div>
  <div class="row">

    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="img-responsive" src="/assets/img/schurr.jpg" alt="Schurr Sails">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.schurrsails.com/default.asp" target="_blank">
        <h1>Schurr Sails</h1>
      </a>
      <p>We love our boat the "Reach-Around". Our boat is a Pearson 10m/33'. We race and have been using Schurr Sails as our sail maker. Please check out their website; it's filled with sailing links such as yacht clubs, weather, and other boat related links of interest.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="img-responsive" src="/assets/img/gya.jpg" alt="G.Y.A.">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.gya.org/" target="_blank"><h1> G.Y.A.</h1></a>
      <p>We have been long standing members of both Pensacola Beach, where we live, and Pensacola Yacht Club as well. The yachting community has been great fun for us. On the Gulf Yachting Association's website you can access all the yacht clubs connected to GYA.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="img-responsive" src="/assets/img/zern.jpg" alt="zern rigging">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.zernrigging.com/" target="_blank"><h1> Zern Rigging</h1></a>
      <p>Saling and racing makes things break. Also if you have a boat made in 1978(!) things need fixing. In comes Rick Zern and his capable team of DJ & Dave, they have the talent and the skill to fix almost any rigging problem you may encounter. They are always willing to help call RZ today.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="img-responsive" src="/assets/img/murray.jpg" alt="Murray Yacht Sales">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.murrayyachtsales.com/" target="_blank"><h1>Murray Yacht Sales</h1></a>
      <p>If you are looking for a new boat, you know how compiling data and a good first hand knowledge of the desired vessel you seek is tough! Murray Yacht Sales is a licensed yacht broker company. Not only does the owner have a background in boat-rigging and sail-making, he can also help you get the yacht you desire.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-3 col-lg-2">
      <img class="borderNone img-responsive" src="/assets/img/ussailing.png" alt="US sailing">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-2 col-lg-offset-3">
      <a href="http://www.ussailing.org/" target="_blank"><h1>US Sailing</h1></a>
      <p>If you are racing sailboats you have to be a member of this great organization. Their website contains a plethora of helpful information.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="img-responsive" src="/assets/img/ballet.jpg" alt="Michelle Lewis">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.danceacademyofsantarosa.com/" target="_blank"><h1>Michelle Lewis</h1></a>
      <p>Michelle teaches ballet to children and adults of all ages at two different studios in the greater Pensacola area.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="borderNone img-responsive" src="/assets/img/mSmith.jpg" alt="Michael Smith photography">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="<h1>Michael Smith Photography</h1>" target="_blank"><h1>Michael Smith Photography</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="underline"></div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-4">
      <img class="borderNone img-responsive" src="/assets/img/guelpa.jpg" alt="Guelpa Dental">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <a href="http://www.smilepensacola.com/" target="_blank"><h1>Guelpa Dental Arts</h1></a>
    </div>
  </div>
</div>