<div class="container">
  <div class="row">
     <div class="col-lg-offset-1 col-sm-6 col-md-5 col-md-offset-1 col-sm-offset-1 col-xs-12 col-lg-4">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.9263292796304!2d-87.216422!3d30.409832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8890c0ac70004075%3A0x2eff11a8220722b!2s205+S+Baylen+St%2C+Pensacola%2C+FL+32502!5e0!3m2!1sen!2sus!4v1438224520030" height= "400px" frameborder="0" style="border:3px solid #099" allowfullscreen></iframe>
     </div>
     <div class="col-sm-5 col-md-4 col-xs-5">
    <h4> Hours:</h4>
    <p>Mon - Fri: 8:30am-6:00pm+<br />
Sat: 9:00am-2:00pm </p>
  <h4> Address</h4>
    <p>Headhunter Hair Styling <br />
205 S Baylen St <br />
Pensacola, FL  32502</p>

    <h4> Phone & Fax</h4>
    <p>P: 850-433-3308<br />
F: 850-469-9746 </p>
  <h4> Email</h4>
    <a class="email" href="mailto:info@headhunterhairstyling.com"><p>info@headhunterhairstyling.com</p></a>
    </div>
  </div>
</div>
