     <div class="container">
     
      <h2>Meet our talented staff here at Headhunters!</h2>
      <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
    <img class="img-responsive" src="/assets/img/theresa.jpg" alt="Theresa" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1">
    <h1>Theresa Baggett</h1>
    <h4>Stylist/Colorist</h4>
      <p>Theresa has been with Headhunter's for 19 years and has been a joy to work with. She is a master stylist with an advanced background in color techniques such as highlighting and color repair.
    </p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
    <img class="img-responsive" src="/assets/img/sandi.jpg" alt="Sandi"> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1">
    <h1>Sandi Kelley</h1>
      <h4>Colorist/Stylist</h4>
      <p>Three years and still shining at Headhunter Hair Styling. As she continues to grow her business she is ever expanding on showing her knowledge of the beauty industry through coloring, cutting, styling and even waxing. She enjoys creating fabulous up-do's for any formal event.
      </p>
    </div>
    </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
      <img class="img-responsive" src="/assets/img/paulafindley.jpg" alt="Paula">
        </div>
         <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <h1> Paula Finley</h1>
      <h4>Stylist/Colorist</h4>
      <p>A master stylist since 1980. Paula relocated from California in 2006 as an educator and platform artist. She excels in wedding styles. She can do make-up, formal up-do's along with creative color and cutting techniques.
      </p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
      <img class="img-responsive" src="/assets/img/katielacour.jpg" alt="Katie">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1">
    <h1>Katie Lacour</h1>
        <h4>Stylist/Colorist</h4>
      <p> Katie is our newest addition to our already allstar staff. Granddaughter of the infamous Frank Patti of "Joe Patti's Seafood", Katie has been a stylist at a few different locations looking for that spot that feels like home. Her talents reach beyond haircutting, high-lights, and dimensional coloring. 
      </p>
      </div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
    <img class="img-responsive" src="/assets/img/eileen.jpg" alt="Eileen">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <h1>Eileen Smith</h1>
      <h4> Nail technician</h4>
      <p>Eileen has been with us for over 8 years. She has given Pensacola "A Touch of Class" for over 28 years and added the experience to our nail staff.
      </p>
  </div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
      <img class="img-responsive" src="/assets/img/sandyorlich.jpg" alt="Sandy">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1">
        <h1> Sandy Orlich</h1>
        <h4> Waxer</h4>
        <p>Bringing a new dimension to our Salon is Sandy's full body waxing service. From head to toe for Women and men, specializing in Brazilian Waxing for the ladies.
    </p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-2">
    <img class="img-responsive" src="/assets/img/steph.jpg" alt="Stephanie">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-offset-1">
        <h1>Stephanie Timms</h1>
        <h4>Massage therapist</h4> 
  </div>
    </div>
    <div class="row">
    <div class="col-sm-offset-0 col-xs-6 col-xs-offset-3 col-sm-6 col-md-4">
      <img class="img-responsive" src="/assets/img/owners.jpg" alt="Ellen & Jeff"> 
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5">
      <h1>Ellen & Jeff Hunt</h1>
        <h4> Owners, Stylists & electrologists</h4>
        <p>As a team Ellen and Jeff have worked together for over 35 years to build Headhunters into a Pensacola household name.
        </p>
     </div>
     </div>
     </div>